<section>
    <div class="container mt-5">
        <div class="row">
            <a class="btn btn-success ml-auto mt-5" href="/admin/add-products">Add Product</a>
        </div>
        <div class="table-responsive">
            <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{findex @index}}</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}/-</td>
                    <td><img style="width: 4em;" src="/product-images/{{this._id}}.jpg" alt="{{this.Name}} image"></td>
                    <td><a href="/admin/edit-product" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete the product {{this.Name}}')">Delete</a></td>
                    
                </tr>
                {{/each}}

            </tbody>
        </table>
        </div>
    </div>
</section>