<section>
    <div class="container mt-3">
        <div class="row">

            {{#each products}}

            <div class="col-6 col-md-3 col-lg-2 mt-3">
                <div class="card">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top"  alt="{{this.Name}}">
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{this.Name}}</h5>
                        <p class="card-text text-truncate">{{this.Description}}</p>
                        <p>{{this.Price}}/- INR</p>
                        <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to Cart</button>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</section>