<section>
    <div class="container mt-3">
        <div class="row">

            {{#each products}}

            <div class="col-md-3 col-lg-2 mt-3">
                <div class="card">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="{{this.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p>{{this.price}}/- INR</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</section>